header{
    width:100%
}

img{
    float: left;
}
.Name{
margin: 20px 0px;
width:100%;
}
.Email{
margin: 20px 0px;
width:100%;
}
.message{
    width:100%;
}
.button{
margin: 20px 0px;
}
.section{
    content:40px;
    padding:80px;
    border: 80px;
    margin: 0px 80px;
}

header{
    width:100%;
    
}

.menuheader{
    width:180px;
    float:right;
}


.nameheader{
    width:680px;
}
.content{
    width:960px;
    margin:auto;
    background-color: white;
}

body{
    background-color: teal;
}